<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<input type="hidden" class="form-control"
       th:field="*{currentForm.fragment.attributes[__${field.name}__].payloads[__${payloadItr.index}__].value}">

<div class="input-group">

    <input th:fragment type="text" th:value="${payload?.value}" class="form-control disabled" disabled="disabled">

    <span class="input-group-btn">

        <th:block th:if="${payload.value == null}">
            <!--<button class="btn btn-default" th:disabled="${fragment.id == null} ? disabled : _"-->
            <button class="btn btn-default"
                    th:disabled="${payload.id == null} ? disabled : _"
                    th:formaction="@{create-dependent(
                    type=basicPage,
                    attribute=${attribute.name},
                    index=${payloadItr.index})}">
                <i class="fa fa-plus"></i>
            </button>
        </th:block>
        <th:block th:if="${payload.value != null}">
            <button class="btn btn-default"
                    th:formaction="@{edit-dependent(
                    attribute=${field.name},
                    index=${payloadItr.index})}">
                <i class="fa fa-edit"></i>
            </button>
        </th:block>
        <th:block>
            <button class="btn btn-default"
                    th:formaction="@{lookup-value(
                    field=${field.name},
                    index=${payloadItr.index})}">
                <i class="fa fa-search"></i>
            </button>
        </th:block>


        <th:block th:replace="admin/fragment/payload-buttons" />
    </span>
</div>

</html>