<html xmlns:th="//www.thymeleaf.org"
      th:replace="page(body=~{::default})"
      th:remove="tag">

<div th:fragment="default">
    <div class="container">
        <form th:object="${itemMaintenance}">
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row" th:with="
structure=*{structure}">

                <!-- Content -->
                <div class="col-md-7">

                    <h2>
                        <span th:text="#{seed.structure.__${structure?.name}__}">Title</span>
                    </h2>

                    <th:block th:each="field : *{fields}">
                        [[${field.attributeName}]]
                    </th:block>


                    <!-- Editor actions (save, delete, ...) -->
                    <div class="btn-group">
                        <button class="btn btn-primary"
                                th:formaction="@{save}">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-md-5">

                    <h2>
                        <span>&nbsp;</span>
                    </h2>

                    <table class="table ">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <td>
                                <span th_text="*{editor.item.id}">ID</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
</html>