<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">
<th:block th:fragment="main">
    <div class="container">
        <form th:object="${userEditor}" method="post">

            <th:block th:replace="admin/breadcrumbs" />

            <h1>User XYZ</h1>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row">

                <!-- Content -->
                <div class="col-md-12" >

                </div>

            </div>
        </form>
    </div>
</th:block>
</html>