<html xmlns:th="//www.thymeleaf.org"
      th:replace="page(body=~{::default})"
      th:remove="tag">

<div th:fragment="default">
    <div class="container">
        <form th:object="${userListing}" method="post">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><a th:href="@{/admin/users}">Users</a></li>
            </ol>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row">

                <!-- Items -->
                <div class="col-md-12" >

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="1%">ID</th>
                            <th width="1%">Username</th>
                            <th>
                                <div class="btn-group btn-group-xs pull-right">
                                    <a class="btn btn-primary"
                                            th:href="@{/admin/user/create}">
                                        <i class="fa fa-plus"></i>
                                        New User
                                    </a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : *{users}">
                            <td>
                                <span th:text="${user.id}">ID</span>
                            </td>
                            <td>
                                <span th:text="${user.name}">Username</span>
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs pull-right">
                                    <button class="btn btn-default"
                                            th:formaction="@{/admin/user/edit(
                                            user=${user.id})}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>
</html>