<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li th:each="breadcrumb : ${breadcrumbs}" class="breadcrumb-item">
            <a th:href="${breadcrumb.path}" th:remove="${breadcrumb.active} ? tag : _">
                <span th:text="${#messages.msgOrNull(breadcrumb.text.messageCode ?: '', breadcrumb.text.messageArguments)
                                ?: breadcrumb.text.defaultMessage}">Breadcrumb</span>
            </a>
        </li>
    </ol>
</nav>

</html>