<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>

    <script src="/js/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/elements/foo-bar.html" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <foo-bar>Test</foo-bar>
        </div>
    </div>
</div>

</body>
</html>