<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<head>

    <title th:text="${title} ?: _">Title</title>

    <meta charset="UTF-8">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.standalone.css">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.de.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.bootstrap3.js"></script>
    <!--<script src="//cdn.ckeditor.com/4.6.0/standard/ckeditor.js"></script>-->


    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>

    <script>
    function saveScrollTop() {
        var scrollTop = $(window).scrollTop();
        sessionStorage.setItem("window.scrollTop", scrollTop);
    }

    function loadScrollTop() {
        var scrollTop = sessionStorage.getItem("window.scrollTop");
        $(window).scrollTop(scrollTop);
    }

    $(document).ready(function() {
        loadScrollTop();

        $('.datepicker').datepicker({
            clearBtn: true,
            orientation: 'auto',
            language: '[[${#locale?.toLanguageTag()}]]',
            format: 'dd.mm.yyyy',
            autoclose: true
        });

        $('.summernote').summernote({
            lang: 'de-DE',
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['mybutton', ['removevalue']]],
            popover: {air: []}
        });


        $('.btn-file').change(function() {
            var form = $(this).closest('form');
            var input = $(this).children('input[type="file"]');
            var formaction = input.attr('formaction');
            form.attr('action', formaction);
            form.attr('enctype', 'multipart/form-data');
            form.submit();
        });

        $("form").on("submit", saveScrollTop);
        $('body').bind('beforeunload',saveScrollTop);
    });
    </script>
    <style type="text/css">
        html{position:relative;min-height:100%;}
        body,h1,h2,h3{font-family: "Valera Round;", sans-serif;}
        footer{padding-top:25px;padding-bottom:25px;}

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }


        .note-editor.note-frame {
            _border:none;
            border-color: #ddd;
            _margin:-15px -15px 0 -15px;
        }

        .modal-dialog{
            overflow-y: initial !important
        }
        .modal-body{
            max-height: calc(100vh - 180px);
            overflow-y: auto;
        }


        .remove {
            text-decoration: line-through;
        }

        .nesting-level-2 {
            background-color:#ddd;
        }
        .nesting-level-x {
            background-color:#bbb;
        }

        .active {
            color:green !important;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">webSEED</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <th:block th:if="${@securityService.authenticated}">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="#">Link</a></li>-->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-shield"></i>
                            <span>Security</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/admin/users}">
                                    <i class="fa fa-users"></i>
                                    <span>Users</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-database"></i>
                            <span>Content</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/admin/items}">
                                    <i class="fa fa-files-o"></i>
                                    <span>Items</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">

                            <i class="fa fa-user"></i>
                            <!--<span th:text="${@securityService.currentUser?.name}">User name</span>-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Sign out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </th:block>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<th:block th:replace="${main} ?: _" />
<footer class="container">
    <div class="row">
        <div class="col-md-12">
            <p>www.getwebseed.com</p>
        </div>
    </div>
</footer>
</body>
</html>