<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="form-group"
     th:with="hasErrors=${#fields.hasErrors('__${component.propertyPath}__')},id=${#ids.seq('field')}"
     th:classappend="${hasErrors} ? 'has-error' : _">
    <label th:for="${#ids.prev('field')}" th:text="#{__${component.propertyPath}__}">Label</label>
    <input type="text" class="form-control"
           th:disabled="${!component.enabled} ? disabled : _"
           th:id="${#ids.prev('field')}"
           th:field="*{__${component.propertyPath}__}">
    <span th:if="${hasErrors}" class="help-block" th:errors="*{__${component.propertyPath}__}">
        Error text.
    </span>
</div>
</html>