<html xmlns:th="//www.thymeleaf.org"
      th:replace="/admin/page(body=~{::body})"
      th:remove="tag">
<div th:fragment="body" class="container">

<form th:object="${form}" th:with="node=${form.node}" method="post">

    <input type="hidden" th:field="*{locale}">
    <input type="hidden" th:field="*{node.id}">
    <input type="hidden" th:field="*{node.structure.name}">

    <th:block th:each="referringValue,status : *{referringValues}">
        <input type="hidden" th:field="*{referringValues[__${status.index}__].propertyId}">
        <input type="hidden" th:field="*{referringValues[__${status.index}__].valueIndex}">
    </th:block>

    <div class="row">
        <div class="col-md-12">
            <h1>Node</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="#">Nodes</a>
                </li>

                <li class="breadcrumb-item" th:each="referringValue : *{referringValues}">
                    <a href="#">Title</a>
                </li>

                <li class="breadcrumb-item active">
                    <span th:text="${node.id}">Current</span>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-8">
                    <h2 th:text="#{__${node?.structure?.name}__}">Title</h2>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary pull-right">Save</button>
                </div>
            </div>



            <th:block th:with="fragment=${node.getFragment(form.locale)}">

                <th:block th:each="field : ${node.structure.fields}" th:with="property=${fragment.getProperty(field)}">

                    <!-- Store the list of field (property) names -->
                    <input type="hidden"
                           th:name="fragment.properties"
                           th:value="${property.field.name}"
                           class="form-control">

                    <!-- Property -->
                    <div class="card">
                        <div class="card-header">
                            <strong th:text="#{__${node.structure.name}__.__${property.name}__}">Label</strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <th:block th:each="value,status : ${property.values}">
                                <li class="list-group-item">

                                    <th:block th:switch="${property?.class?.simpleName}">
                                        <th:block th:case="TextProperty">
                                            <th:block th:replace="admin/node/text-payload" />
                                        </th:block>
                                        <th:block th:case="DateProperty">
                                            <th:block th:replace="admin/node/date-payload" />
                                        </th:block>
                                        <th:block th:case="NodeProperty">
                                            <th:block th:replace="admin/node/node-payload" />
                                        </th:block>
                                    </th:block>
                                </li>
                            </th:block>
                            <li class="list-group-item">
                                <button class="btn btn-secondary"
                                        th:formaction="@{addvalue(field=${property.field.name})}">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- Property end -->

                </th:block>
            </th:block>


            <button class="btn btn-primary" th:formaction="@{save}">Save</button>
        </div>

        <div class="col-md-4">

            <h2>Details</h2>

            <div class="card card-inverse card-primary">
                <div class="card-block">

                    <div class="card-text" >
                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">ID</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong th:text="${node.id}">#</strong>
                            </div>
                        </div>

                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">Locale</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong>[[${#locale.displayName}]]</strong>
                            </div>
                        </div>

                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">State</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong>UNPUBLISHED</strong>
                            </div>
                        </div>


                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">Created</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong>[[${#dates.createToday()}]]</strong>
                            </div>
                        </div>

                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">Last modified</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong>[[${#dates.createToday()}]]</strong>
                            </div>
                        </div>

                        <div class="row small">
                            <label class="col-sm-4 text-xs-right">Author</label>
                            <div class="col-sm-8 text-xs-left">
                                <strong>Stephan Grundner</strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h2>Translations</h2>

            <ul class="list-group">
                <li class="list-group-item list-group-item-info" th:each="locale : ${availableLocales}">
                    [[${locale.displayName}]]
                </li>
            </ul>
        </div>

    </div>


</form>

</div>
</html>