<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:each="hierarchy : ${@hierarchyService.allHierarchies}">

    <div class="panel panel-default">
        <div class="panel-heading">
            [[#{seed.hierarchy.__${hierarchy.name}__}]]
        </div>


        <table class="table tree" th:with="nodes = ${hierarchy.rootNodes}">
            <th:block th:fragment="tree-list(nodes)">
                <th:block th:each="node : ${nodes}" th:with="parent = ${node.parent}">
                    <tr th:class="treegrid-__${node.id}__"
                        th:classappend="${parent != null} ? treegrid-parent-__${parent?.id}__ : _">

                        <td>
                            [[${@hierarchyService.getLabelText(node)}]]
                            <span class="label label-default" th:text="${node.ordinal}">#</span>
                        </td>

                        <td>
                            <div class="btn-group btn-group-xs pull-right">
                                <button class="btn btn-default"
                                        th:disabled="${node.first} ? disabled : _"
                                   th:formaction="@{move-node-up(node=${node.id})}">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:disabled="${node.last} ? disabled : _"
                                   th:formaction="@{move-node-down(node=${node.id})}">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                                <button class="btn btn-default"
                                   th:formaction="@{add-node(hierarchy=${hierarchy.id}, parent=${node.id})}">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="btn btn-default"
                                   th:formaction="@{remove-node(node=${node.id})}">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <th:block th:if="${node.children.size() > 0}">
                        <th:block th:replace="::tree-list(${node.children})" />
                    </th:block>
                </th:block>
            </th:block>
        </table>

        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-default"
                        th:data-formaction="@{add-node(hierarchy=${hierarchy.id}, parent=null)}">
                    <i class="fa fa-plus"></i>
                </a>

            </li>
        </ul>
    </div>

</th:block>

</html>