<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:fragment="item">
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body">
            <th:block th:with="editor=${field.nestedEditor}">
                <th:block th:replace="admin/item/editor"/>
            </th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="icon">
    <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <input class="form-control input-sm icp icp-auto" data-input-search="true" type="text"
               th:field="*{fields[__${field.id}__].payload.code}">
    </div>
</th:block>

<th:block th:fragment="image" th:with="image=${field.payload.image}">
<div style="padding-bottom:0px;margin-bottom:-35px;">
    <th:block th:if="${image != null}">
        <img th:src="${@assetService.getRelativeUrl(image)} ?: _" width="100%">
    </th:block>
    <div th:if="${image == null}" style="background-color:lightgray; width:100%; min-height:55px;">
        <!--No image, gray box-->
    </div>

    <div class="btn-group" th:with="token=${#ids.seq('imagetoken')}"
         style="position:relative; top:-45px;left:15px; min-height:35px;">
        <span class="btn btn-default btn-file">
            <i class="fa fa-upload"></i>
            <input th:name="'file-__${token}__'" type="file"
                   th:formaction="@{upload-image(token=${token},payload=${field.payload.uuid})}">
        </span>
        <!--<button class="btn btn-default" disabled="disabled">-->
        <!--<span th:text="${image?.fileName}">File name</span>-->
        <!--</button>-->
    </div>
</div>
</th:block>

<th:block th:fragment="link">
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body" style="margin-bottom:5px;">
            <label th:text="__${attribute.name}__.payload.value">Text</label>
            <input type="text" class="form-control input-sm"
                   th:field="*{fields[__${field.id}__].payload.text}">


            <label th:text="__${attribute.name}__.payload.uri">URI</label>
            <input type="text" class="form-control input-sm"
                   th:field="*{fields[__${field.id}__].payload.url}">

        </div>
    </div>
</th:block>

<th:block th:fragment="multiline-text">
    <th:block th:with="id=${#ids.seq('foobar')}">
    <textarea th:id="${id}" class="form-control"
              th:field="*{fields[__${field.id}__].payload.text}"></textarea>

        <script type="text/javascript">
        $(document).ready(function() {
            var id = '#[[${id}]]';
            $(id).summernote({
                height:125,
                toolbar:[
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }
            });
        });

        </script>
    </th:block>
</th:block>

<th:block th:fragment="text">
    <input type="text" class="form-control input-sm"
           th:field="*{fields[__${field.id}__].payload.text}">
</th:block>

<th:block th:fragment="yesno">
    <div class="checkbox form-control">
        <label>
            <input type="checkbox" class=""
                   th:field="*{fields[__${field.id}__].payload.yes}">
            <span th:text="${attribute.name}">Field name</span>
            <span th:if="${fieldGroup.fields.size() > 1}">#[[${fieldItr.index + 1}]]</span>
        </label>
    </div>
</th:block>

<th:block th:fragment="selection">
    <th:block th:if="${!attribute.multiselect}">
        <select class="form-control" th:field="*{fields[__${field.id}__].payload.values[0]}">
            <!--<option value="">-->
                <!--<span>Option</span>-->
            <!--</option>-->
            <option th:each="option : ${attribute.options}"
                    th:value="${option}">
                <span th:text="${option}">Option</span>
            </option>
        </select>
    </th:block>
</th:block>

</html>