<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:fragment="item">
    <div class="card" th:classappend="${nestingLevel % 2 == 0} ? level-even : level-odd">
        <div class="card-body">
            <th:block th:with="editor=${field.nestedEditor}">
                <th:block th:replace="admin/item/editor-page::editor"/>
            </th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="icon">
    <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <input class="form-control input-sm icp icp-auto" data-input-search="true" type="text"
               th:field="*{fields[__${field.id}__].payload.code}">
    </div>
</th:block>

<th:block th:fragment="image" th:with="image=${field.payload.image}">
    <div class="card">
        <div class="media">
            <img th:remove="${image == null} ? tag : _" class="mr-1 img-fluid w-50"
                 th:src="${@assetService.getRelativeUrl(image)} ?: _">
            <div class="media-body pt-2 ml-2">
                <h5 th:if="${image != null}" class="mt-0"
                    th:text="${image.fileName}">Filename</h5>

                <div class="btn-group pb-2" role="group" aria-label="First group"
                     th:with="token=${#ids.seq('imagetoken')}">
                    <span class="btn btn-secondary btn-file">
                        <i class="fa fa-upload"></i>
                        <input th:name="'file-__${token}__'" type="file"
                               th:formaction="@{upload-image(token=${token},payload=${field.payload.uuid})}">
                    </span>
                    <button class="btn btn-secondary">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="link">
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body" style="margin-bottom:5px;">
            <label th:text="__${fieldGroup.attribute.name}__.payload.value">Text</label>
            <input type="url" class="form-control input-sm"
                   th:field="*{fields[__${field.id}__].payload.text}">

            <label th:text="__${fieldGroup.attribute.name}__.payload.uri">URI</label>
            <input type="url" class="form-control input-sm"
                   th:field="*{fields[__${field.id}__].payload.url}">

        </div>
    </div>
</th:block>

<th:block th:fragment="multiline-text">
    <th:block th:with="id=${#ids.seq('foobar')}">
    <textarea th:id="${id}" class="form-control"
              th:field="*{fields[__${field.id}__].payload.text}"></textarea>

        <script type="text/javascript">
        jQuery(document).ready(function($) {
            var id = '#[[${id}]]';
            $(id).summernote({
                height:125,
                toolbar:[
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }
            });
        });

        </script>
    </th:block>
</th:block>

<th:block th:fragment="text">
    <input type="text" class="form-control input-sm"
           th:field="*{fields[__${field.id}__].payload.text}">
</th:block>

<th:block th:fragment="yesno">
    <div class="checkbox form-control">
        <label>
            <input type="checkbox" class=""
                   th:field="*{fields[__${field.id}__].payload.yes}">
            <span th:text="#{structure.__${fieldGroup?.editor?.item?.structureName}__.__${fieldGroup.attribute.name}__}">Field name</span>
            <span th:if="${fieldGroup.fields.size() > 1}">#[[${fieldItr.index + 1}]]</span>
        </label>
    </div>
</th:block>

<th:block th:fragment="selection">
    <th:block th:if="${!fieldGroup.attribute.multiselect}">
        <select class="form-control custom-select d-block" th:field="*{fields[__${field.id}__].payload.values[0]}">
            <!--<option value="">-->
                <!--<span>Option</span>-->
            <!--</option>-->
            <option th:each="option : ${fieldGroup.attribute.options}"
                    th:value="${option}">
                <span th:text="${option}">Option</span>
            </option>
        </select>
    </th:block>
</th:block>

<th:block th:fragment="date">
    <input type="date" class="form-control input-sm"
           data-provide="datepicker"
           data-date-format="mm-dd-yyyy" data-date-autoclose="true"
           th:data-date-language="${#locale?.toLanguageTag()}"
           th:field="*{fields[__${field.id}__].payload.value}">
</th:block>

</html>