<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="row" style="margin-bottom:-35px;"
     th:each="payload,payloadItr : ${group.payloads}"
     th:with="image = ${payload.target}">

    <th:block th:if="${image != null}">
        <img th:src="${@assetService.getRelativeUrl(image)} ?: _" width="100%">
    </th:block>
    <div th:if="${image == null}" style="background-color:lightgray; width:100%; min-height:55px;">

    </div>

    <div class="btn-group" th:with="token=${#ids.seq('imagetoken')}"
         style="position:relative; top:-45px;left:15px; min-height:35px;">
                <span class="btn btn-default btn-file">
                    <i class="fa fa-upload"></i>
                    <input th:name="'file-__${token}__'" type="file"
                           th:formaction="@{upload-image(
                                            token=${token},
                                            nested-path=${nestedPath},
                                            attribute=${attribute.name},
                                            index=${payloadItr.index})}">
                </span>
        <!--<button class="btn btn-default"-->
        <!--th:formaction="@{remove-image(-->
        <!--nested-path=${nestedPath},-->
        <!--attribute=${attribute.name},-->
        <!--index=${payloadItr.index})}">-->
        <!--<i class="fa fa-trash"></i>-->
        <!--</button>-->
        <!--<th:block th:replace="admin/item/editor/_payload-buttons" />-->
    </div>
    <!--<span th:text="${image.fileName}">File name</span>-->
</div>

</html>