<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
    <div class="panel-body" style="margin-bottom:5px;">
        <label th:text="__${attribute.name}__.text">Text</label>
        <input type="url" class="form-control input-sm"
               th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].text}">


        <label th:text="__${attribute.name}__.uri">URI</label>
        <input type="url" class="form-control input-sm"
               th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].uri}">

    </div>
</div>
</html>