<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:each="hierarchy : ${@hierarchyService.allHierarchies}">
    <th:block th:with="branch=${@hierarchyService.getBranch(hierarchy, item.locale)}">
        <div class="panel panel-default">
            <div class="panel-body">
                [[#{seed.hierarchy.__${hierarchy.name}__}]]
                <hr />

                <!--<ul th:each="node : ${branch.roots}">-->
                <ul th:each="node : ${branch.roots}">
                    <th:block th:fragment="node(node)">
                        <li style="color: black;" th_class="${item.id == node.item.id} ? active : _">
                            [[${node.history.current.label}]] ([[${node?.history?.current?.id}]])
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default"
                                        th:formaction="@{add-node(
                                                        branch=${branch.id},
                                                        parent-uuid=${node.uuid})}"
                                        th:disabled="${item.id == null} ? disabled : _">
                                    <i class="fa fa-plus"></i>
                                    Append
                                </button>
                            </div>
                            <ul th:unless="${node?.children?.empty}">
                                <th:block th:each="child : ${node.children}">
                                    <th:block th:replace="::node(${child})" />
                                </th:block>
                            </ul>
                        </li>
                    </th:block>
                </ul>

                <button class="btn btn-default"
                        th:formaction="@{add-node(branch=${branch.id}, parent=null)}"
                        th:disabled="${item?.id == null} ? disabled : _">
                    <i class="fa fa-plus"></i>
                    Add node
                </button>
            </div>


        </div>

    </th:block>
</th:block>
</html>