<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:if="${!payload.compressed}">
<th:block th:with="id=${#ids.seq('foobar')}">
    <textarea th:id="${id}" class="form-control"
              th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}"></textarea>

    <script type="text/javascript">
        $(document).ready(function() {
            var id = '#[[${id}]]';
            $(id).summernote({
                height:125,
                toolbar:[
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }
            });
        });
        </script>
</th:block>
</th:block>

<th:block th:if="${payload.compressed}">
    <p th:utext="${payload.value}">Text</p>
</th:block>
</html>