<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<div class="form-group"
     th:with="nestedPath='__${nestedPath}__fields[__${field.attribute.name}__].'">
    <span>
        <label th:text="${attributeName}">Label</label>

        <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-default" disabled>
                <i class="fa fa-search"></i>
                <span>Search</span>
            </button>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-plus"></i>
                <span>Append</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li th:each="structureName : ${attribute.acceptedStructureNames}"
                    th:with="structure=${@structureService.getStructure(structureName)}">
                    <a href="#" th:href="@{append(
                    attribute=${field.attribute.name},
                    structure=${structureName})}">
                        <span th:text="${structureName}">Structure Name</span>
                    </a>
                </li>
            </ul>

        </div>
    </span>
    <ul class="list-group" th:with="relation=${field.payload.value}">
        <li th:each="target,targetItr : ${relation?.targets}" class="list-group-item"
            th:with="
            item=${target},
            structure=${@itemService.getStructure(item)},
            nestedPath='__${nestedPath}__editors[__${targetItr.index}__]'">

            <h3>
                <span th:text="${structure?.name}">Title</span>
                <div class="btn-group btn-group-xs pull-right">
                    <button class="btn btn-default" formmethod="post"
                            th:formaction="@{edit-related(
                            attribute=${attributeName},
                            index=${targetItr.index})}">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </button>
                </div>
            </h3>
            <!--<span th:replace="admin/item/editor/preview">Preview!</span>-->

            <th:block th:each="attribute,attributeItr : ${structure?.attributes}"
                      th:with="
                              nestedPath='__${nestedPath}__.fields[__${attribute.name}__]',
                              attributeName=${attribute.name},
                              payload=${item.getPayload(attributeName)}">

                <p>[[${nestedPath}]]</p>

            </th:block>


        </li>
    </ul>
</div>
</html>