<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:fragment="actions">
    <th:block th:if="${group.length() > 1}">
        <button class="btn btn-default"
                th:disabled="${payloadItr.index == 0} ? disabled : _"
                th:formaction="@{move-payload-up(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
            <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn btn-default"
                th:disabled="${payloadItr.index == group.length() - 1} ? disabled : _"
                th:formaction="@{move-payload-down(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
            <i class="fa fa-arrow-down"></i>
        </button>
    </th:block>

    <button class="btn btn-default" th:if="${group.length() > attribute.required}"
            th:formaction="@{remove-payload(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
        <i class="fa fa-remove"></i>
    </button>
</th:block>

<th:block th:fragment="icon">
    <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <input class="form-control input-sm icp icp-auto" data-input-search="true" type="text"
               th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}">
    </div>
</th:block>


<th:block th:fragment="image" th:with="image=${payload.target}">
    <th:block th:if="${image != null}">
        <img th:src="${@assetService.getRelativeUrl(image)} ?: _" width="100%">
    </th:block>
    <div th:if="${image == null}" style="background-color:lightgray; width:100%; min-height:55px;">
        <!--No image, gray box-->
    </div>

    <div class="btn-group" th:with="token=${#ids.seq('imagetoken')}"
         style="position:relative; top:-45px;left:15px; min-height:35px;">
                <span class="btn btn-default btn-file">
                    <i class="fa fa-upload"></i>
                    <input th:name="'file-__${token}__'" type="file"
                           th:formaction="@{upload-image(
                                            token=${token},
                                            nested-path=${nestedPath},
                                            attribute=${attribute.name},
                                            index=${payloadItr.index})}">
                </span>

    </div>
</th:block>


<th:block th:fragment="item">
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body">
            <th:block th:with="nestedPath='__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].target'">
                <th:block th:replace="admin/item/editor::fields" />
            </th:block>
        </div>
    </div>
</th:block>


<th:block th:fragment="link">
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body" style="margin-bottom:5px;">
            <label th:text="__${attribute.name}__.text">Text</label>
            <input type="url" class="form-control input-sm"
                   th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].text}">


            <label th:text="__${attribute.name}__.uri">URI</label>
            <input type="url" class="form-control input-sm"
                   th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].uri}">

        </div>
    </div>
</th:block>


<th:block th:fragment="multiline-text">
    <th:block th:with="id=${#ids.seq('foobar')}">
    <textarea th:id="${id}" class="form-control"
              th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}"></textarea>

        <script type="text/javascript">
        $(document).ready(function() {
            var id = '#[[${id}]]';
            $(id).summernote({
                height:125,
                toolbar:[
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }
            });
        });
        </script>
    </th:block>
</th:block>


<th:block th:fragment="text">
    <input type="text" class="form-control input-sm"
           th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}">
</th:block>


<th:block th:fragment="yesno">
    <div class="checkbox form-control">
        <label>
            <input type="checkbox" class=""
                   th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}">
            <span th:text="${attribute.name}">Field name</span>
            <span th:if="${group.payloads.size() > 1}">#[[${payloadItr.index + 1}]]</span>
        </label>
    </div>
</th:block>

</html>