<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:with="structure=${@itemService.getStructure(item)}">
    <th:block th:each="attributeName : ${structure.attributeNames}"
              th:with="
          attribute=${structure.getAttribute(attributeName)},
          value=${item?.getPayload(attributeName)?.value}">

        <div _class="form-group">
            <label th:text="${attributeName}">Label</label>
            <th:block th:if="${value?.class?.simpleName?.equals('Relation')}">
                <ul class="list-group">
                    <li th:each="target : ${value.targets}" class="list-group-item"
                        th:with="item=${target}">
                        <th:block th:replace="admin/item/editor/preview"></th:block>
                    </li>
                </ul>
            </th:block>
            <th:block th:unless="${value?.class?.simpleName?.equals('Relation')}">
                <span th:text="${item.getPayload(attributeName).value}"></span>
            </th:block>

        </div>

    </th:block>
</th:block>

</html>