<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<div class="form-group" th:each="payload,payloadItr : ${sequence}">
    <th:block>
        <label>
            <span th:text="${attribute.name}">Attribute name</span>
            <span th:if="${sequence.size() > 1}">#[[${payloadItr.index + 1}]]</span>
            <i th:if="${attribute.isLabel()}" class="fa fa-tag" th:title="#{seed.attribute.label}"></i>

        </label>
        <div class="btn-group btn-group-xs pull-right" th:remove="${sequence.length() >= attribute.capacity} ? all : _">
            <th:block th:if="${sequence.length() > 1}">
                <button class="btn btn-default"
                        th:disabled="${payloadItr.index == 0} ? disabled : _"
                        th:formaction="@{move-payload-up(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button class="btn btn-default"
                        th:disabled="${payloadItr.index == sequence.length() - 1} ? disabled : _"
                        th:formaction="@{move-payload-down(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </th:block>

            <button class="btn btn-default" th:if="${sequence.length() > attribute.required}"
                    th:formaction="@{remove-payload(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </th:block>

    <th:block th:replace="${field}" />

</div>
<th:block th:remove="${sequence.length() >= attribute.capacity} ? all : _">
    <th:block th:if="${actions == null}">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default"
                    th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                    th:formaction="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name})}">
                <span>Append</span>
                <span th:text="${attribute.name}">Attribute name</span>
            </button>
        </div>
    </th:block>
    <th:block th:if="${actions != null}">
        <th:block th:replace="${actions} ?: _" />
    </th:block>
</th:block>

</html>