<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/item/editor/sequence(
      field=~{::body},
      actions=~{::actions})"
      th:remove="tag">

<body>
    <div class="panel panel-default" th:classappend="'nesting-level-__${nestingLevel}__'">
        <div class="panel-body">
            <th:block th:with="nestedPath='__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].item'">
                <th:block th:replace="admin/item/editor::fields" />
            </th:block>
        </div>
    </div>
</body>

<th:block th:fragment="actions">
    <div class="btn-group dropup">
        <button type="button" th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Append <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li th:each="structureName : ${attribute.acceptedStructureNames}">
                <a th:href="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name},
                    structure=${structureName})}">
                    <span th:text="#{seed.structure.__${structureName}__}">Name</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>

</html>