<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:if="${!payload.compressed}">
<div class="checkbox form-control">
    <label>
        <input type="checkbox" class=""
               th:field="*{__${nestedPath}__.payloadGroups[__${attribute.name}__].payloads[__${payloadItr.index}__].value}">
        <span th:text="${attribute.name}">Field name</span>
        <span th:if="${group.payloads.size() > 1}">#[[${payloadItr.index + 1}]]</span>
    </label>
</div>
</th:block>
<th:block th:if="${payload.compressed}">
<div class="checkbox form-control">
    <label>
        <input type="checkbox" class="" disabled="disabled">
        <span th:text="${attribute.name}">Field name</span>
        <span th:if="${group.payloads.size() > 1}">#[[${payloadItr.index + 1}]]</span>
    </label>
</div>
</th:block>
</html>