<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<div class="form-group" th:classappend="${#fields.hasErrors('__${fullPropertyPath}__')}? has-danger">
    <label th:for="${fullPropertyPath}"
           th:text="#{__${@contentService.getMessageCode(propertyDescriptor)}__}">
        Label
    </label>
    <input type="hidden" class="form-control" readonly="readonly"
           th:field="*{__${fullPropertyPath}__}">
    <div class="input-group">
        <input type="text" class="form-control" readonly="readonly"
               th:id="${fullPropertyPath}">
        <div class="input-group-btn">
            <button class="btn btn-secondary">
                <i class="fa fa-file-o"></i>
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>

</div>
</html>