<html xmlns:th="http://www.thymeleaf.org"
      xmlns:cp="http://www.getwebseed/dialect/cp"
      th:remove="tag">

<th:block>
    <th:block th:with="actions = ${self},defaultAction = ${actions?.defaultAction}">
        <th:block th:if="defaultAction != null" >
            <button class="btn btn-secondary action action-primary" th:formaction="${defaultAction.url}"
                    th:classappend="${size == 'sm' ? 'btn-sm' : (size == 'lg' ? 'btn-lg' : _)}">
                [[${defaultAction.text?.value}]]
            </button>
        </th:block>

        <th:block th:if="defaultAction == null">
            no
        </th:block>
    </th:block>
</th:block>

</html>