<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<style>
.grid .actions {
    text-align: right !important;
}
</style>
<table class="table grid" th:with="grid=${self}">
    <thead>
    <tr>
        <th th:each="column : ${grid.columns}" class="text-left"
            th:classappend="${column.name}">
            <span th:text="${column.name}">Column name</span>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="row,rowItr : ${grid.rows}">
        <td th:each="column : ${grid.columns}" th:classappend="${column.name}">
            [[${row.source.getProperty(column.name).value}]]
        </td>
    </tr>
    </tbody>
</table>




</html>