<html xmlns:th="http://www.thymeleaf.org"
      xmlns:cp="http://www.getwebseed/dialect/cp"
      th:remove="tag">
<table class="table grid" th:with="grid=${self}">
    <thead>
    <tr>
        <th th:each="column : ${grid.columns}" class="text-left"
            th:classappend="__${column.name}__-column">
            <span th:text="${column.text?.value}">Column name</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowItr : ${grid.rows}">
        <td th:each="column : ${grid.columns}"
            th:with="cell = ${row.getCell(column.name)}"
            class="align-middle"
            th:classappend="__${column.name}__-column">
            <th:block cp:replace="${cell}" />
        </td>
    </tr>
    </tbody>
</table>
</html>