<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<th:block th:each="field : ${fieldGroup.fields.values()}"
          th:with="attribute=${@fragmentService.getAttribute(fragment, field)}">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong th:text="${field.name}">#</strong>
        </div>

        <!-- Multiple Payload fields -->
        <th:block th:if="${field.sequence}">
            <ul class="list-group">
                <li th:each="payload,status : ${attribute.payloads}" class="list-group-item">

                    <!-- Reference Payload -->
                    <th:block th:if="${payload.reference}">
                        <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                            <th:block th:replace="fragment/text-input" />
                            <div class="input-group-btn">
                                <button class="btn btn-default">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:formaction="@{extend(
                                            field=${field.name},
                                            index=${status.index},
                                            type='featureItem'
                                            )}">
                                    <i class="fa fa-file-o"></i>
                                </button>
                                <!--<button class="btn btn-default">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->

                            </div>
                        </div>
                    </th:block>

                    <!-- Other Payload -->
                    <th:block th:unless="${payload.reference}">
                        <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                            <th:block th:replace="fragment/text-input" />
                            <div class="input-group-btn">
                                <button class="btn btn-default"
                                        th:formaction="@{valueup(field=${field.name},index=${status.index})}">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:formaction="@{valuedown(field=${field.name},index=${status.index})}">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:formaction="@{remvalue(field=${field.name},index=${status.index})}">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </th:block>

                </li>
                <li class="list-group-item">
                    <button class="btn btn-default btn-sm"
                            th:formaction="@{addvalue(field=${field.name})}">
                        <i class="fa fa-plus"></i>
                        <span>Add</span>
                    </button>
                </li>
            </ul>
        </th:block>

        <!-- Single Payload field -->
        <th:block th:unless="${field.sequence}">
            <div class="panel-body" th:with="payload=${attribute.getPayload(0)}">

                <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                    <th:block th:replace="fragment/text-input" />
                </div>

            </div>
        </th:block>
    </div>



</th:block>
</html>