<html xmlns:th="//www.thymeleaf.org" xmlns:field="//github.com/grundner" th:remove="tag"
      th:replace="page(body=~{::body})">
<th:block th:fragment="body" th:with="fragment=${form.fragment}">


    <form th:object="${form}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label th:text="#{fragment.id}">#</label>
                        <input class="form-control" type="text" th:field="*{fragment.id}">
                    </div>

                    <div class="form-group">
                        <label th:text="#{fragment.revisionId}">#</label>
                        <input class="form-control" type="text" th:field="*{fragment.revisionId}">
                    </div>


                    <!-- Tabs -->
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"
                                th:each="fieldGroup : ${fragment.type.fieldGroups.values()}"
                                th:classappend="${fieldGroup.name == 'basics'}? active">
                                <a th:href="'#' + ${fieldGroup.name}" aria-controls="home" role="tab" data-toggle="tab">
                                    <span th:text="#{${fragment.type.name} + . + ${fieldGroup.name}}">#</span>
                                </a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div role="tabpanel"
                                 th:each="fieldGroup : ${fragment.type.fieldGroups.values()}"
                                 th:id="${fieldGroup.name}"
                                 class="tab-pane"
                                 th:classappend="${fieldGroup.name == 'basics'}? active">
                                <br />
                                <th:block  th:each="field : ${fieldGroup?.fields?.values()}">
                                    <th:block th:with="attribute=${fragment.getAttribute(field)}">
                                        <th:block th:replace="fragment/field/text" />
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!-- Tabs End -->


                </div>
            </div>
        </div>
    </form>


</th:block>