<html xmlns:th="http://www.thymeleaf.org"
      th:remove="tag"
      th:replace="page(body=~{::body})">
<th:block th:fragment="body">

    <script type="text/javascript">
        $(document).ready(function() {
            // Merkt sich das ausgewählte Tab und speichert es in FragmentForm#fieldGroupName
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var tab = $(e.target);
                var area = tab.attr('aria-controls');
                $("#fieldGroupName").val(area);
            })
        });
    </script>

    <form th:with="fragment=${form.fragment}" th:object="${form}" method="post">
        <input type="hidden" th:field="*{fieldGroupName}">
        <input type="hidden" th:field="*{fragment.id}">
        <input type="hidden" th:field="*{fragment.type}">
        <input type="hidden" th:field="*{fragment.history}">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Fragment</h1>

                    <!-- Breadcrumbs -->
                    <ol class="breadcrumb">
                        <li th:each="editor : ${editorManager.editors}"
                            th:classappend="${editor == editorManager.currentEditor}? active : _">
                            <a th:href="@{edit(editor=${editor.id})}" th:text="${editor.id}">Editor name</a>
                        </li>

                        <!--<li class="active" th:text="${editorManager.currentEditor.id}">Current editor</li>-->
                    </ol>

                </div>
            </div>
        </div>

        <div class="container" >
            <div class="row">
                <div class="col-sm-8">

                    <div th:with="fragmentType=${fragment.type}">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li th:each="fieldGroup : ${fragmentType.fieldGroups.values()}" th:classappend="${fieldGroup.name == form.fieldGroupName}? active : _">
                                <a th:href="'#' + ${fieldGroup.name}"
                                   th:aria-controls="${fieldGroup.name}"
                                   data-toggle="tab">
                                    <span th:text="${fieldGroup.name}">#</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div th:each="fieldGroup : ${fragmentType.fieldGroups.values()}"
                                 class="tab-pane" th:classappend="${fieldGroup.name == form.fieldGroupName}? active : _"
                                 th:id="${fieldGroup.name}">

                                <br />
                                <th:block th:replace="fragment/field-group" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                </div>
            </div> <!-- row -->
        </div> <!-- container -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary"
                            th:formaction="@{save}"
                            formmethod="post">
                        <span th:text="#{fragment.form.save}">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </form>

</th:block>