<html xmlns:th="//www.thymeleaf.org" xmlns:field="//github.com/grundner" th:remove="tag"
      th:replace="page(body=~{::body})">
<th:block th:fragment="body">
    <div class="container" th:with="structure=${fragment.structure}">

        <div class="row">
            <div class="col-md-12">
                <h1>
                    <span th:text="${fragment.name}">Fragment name</span>
                    <span class="small" th:text="${structure.name}">Structure name</span>

                </h1>
            </div>
        </div>

        <div class="row" th:each="field : ${fragment.structure.fields.values()}">
            <div class="col-md-12">
                <strong th:text="${field.name}">Title</strong>
                <p th:each="value : ${@fragmentService.getValues(fragment, field.name)}">

                    [[${value.payload}]]
                </p>
            </div>
        </div>

    </div>
</th:block>
</html>