<html xmlns:th="//www.thymeleaf.org" xmlns:field="http://localhost"
      th:replace="page(content=~{::body})"
      th:remove="tag">
<div th:fragment="body" class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                <th>
                    <span>ID</span>
                    <span>Node</span>
                    <span>Locale</span>
                </th>
                </thead>
                <tbody>
                <tr th:each="fragment : ${fragments}">
                    <td>
                        <span th:text="${fragment.id}">ID</span>
                    </td>
                    <td>
                        <span th:text="${fragment.node?.id}">Node</span>
                    </td>
                    <td>
                        <span th:text="${fragment.locale}">Locale</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
</html>