<html xmlns:th="http://www.thymeleaf.org"
      xmlns:field="http://localhost"
      th:remove="tag">
<th:block>

    <input type="hidden" th:field="*{__${fullPropertyPath}__[__${status.index}__].id}">
    <input type="hidden" th:field="*{__${fullPropertyPath}__[__${status.index}__].class.name}">

    <th:block th:each="propertyName : ${@contentService.getContentProperties(propertyType)}">
        <!--<th:block field:replace="*{__${fullPropertyPath}__[__${status.index}__].__${propertyName}__}" />-->
        <th:block field:replace="*{__${fullPropertyPath}__[__${status.index}__].__${propertyName}__}" />
    </th:block>


</th:block>
</html>