<html xmlns:th="//www.thymeleaf.org"
      th:replace="/admin/page(body=~{::body})"
      th:remove="tag">
<div th:fragment="body" class="container">

    <th:block component:replace="${breadcrumb}" />

    <form th:object="${form}">
        <h1>
            <span>User</span>
            <small th:text="*{id}" class="text-muted">#</small>
        </h1>

        <th:block component:replace="${fields}" />

        <button class="btn btn-primary" th:formaction="@{save}">
            Save
        </button>
    </form>


</div>
</html>