<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:replace="fragment/field-container(input=~{::foobar})">

    <th:block th:fragment="foobar">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <input type="date" class="form-control datepicker"
               th:name="${field.name}"
               th:value="${#dates.format(attribute?.getValue(index)?.payload, 'dd.MM.yyyy')}">
    </th:block>

</th:block>
</html>