<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<label>
    <span th:text="${attribute.name}">Field name</span>
</label>
<ul class="list-group" >

    <li th:class="'list-group-item nesting-level-__${nestingLevel}__'"
        th:each="payload,payloadItr : ${sequence.payloads}" th:classappend="${nestingLevel % 2 != 0}? gray : _">

        <h5>
            <th:block th:if="${attribute.capacity > 1}">
                <strong># [[${payloadItr.index + 1}]]</strong>
            </th:block>
            <div class="btn-group btn-group-xs pull-right">
                <button class="btn btn-default"
                        disabled="disabled">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button class="btn btn-default"
                        disabled="disabled">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <button class="btn btn-default"
                        th:formaction="@{remove-payload(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </h5>

        <hr />
        <th:block th:with="nestedPath='__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].item'">
            <th:block th:replace="admin/item/editor::fields" />
        </th:block>

    </li>

    <li class="list-group-item" th:classappend="nesting-level-__${nestingLevel}__" >
        <div class="btn-group">
            <button type="button" th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Append <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li th:each="structureName : ${attribute.acceptedTypeNames}">
                    <a th:href="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name},
                    structure=${structureName})}">
                        <span th:text="#{seed.structure.__${structureName}__}">Name</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>


</ul>
</html>