<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<label th:text="#{seed.structure.__${structure.name}__.__${attribute.name}__}">Attribute name</label>
<ul class="list-group" style="margin-bottom:10px;">

    <th:block th:each="payload,payloadItr : ${sequence?.payloads}">
        <li th:class="'list-group-item nesting-level-__${nestingLevel}__'">
            <h4>
                <span th:text="${@itemService.getStructure(payload.value).name}">Name</span>
                <th:block th:if="${attribute.capacity > 1}">
                    <span>#[[${payloadItr.index + 1}]]</span>
                </th:block>
                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-default" th:if="${editor.isCollapsed(payload)}"
                            th:formaction="@{open-payload(
                            nested-path=${nestedPath},
                            attribute=${attribute.name},
                            index=${payloadItr.index})}">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button class="btn btn-default" th:if="${!editor.isCollapsed(payload)}"
                            th:formaction="@{close-payload(
                            nested-path=${nestedPath},
                            attribute=${attribute.name},
                            index=${payloadItr.index})}">
                        <i class="fa fa-compress"></i>
                    </button>
                    <th:block th:replace="admin/item/editor/_payload-buttons" />
                </div>
            </h4>

            <th:block th:if="${!editor.isCollapsed(payload)}">
                <th:block th:with="nestedPath='__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].item'">
                    <th:block th:replace="admin/item/editor::fields" />
                </th:block>
            </th:block>
        </li>
    </th:block>


    <li class="list-group-item" th:classappend="nesting-level-__${nestingLevel}__" >
        <div class="btn-group dropup">
            <button type="button" th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Append <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li th:each="structureName : ${attribute.acceptedStructureNames}">
                    <a th:href="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name},
                    structure=${structureName})}">
                        <span th:text="#{seed.structure.__${structureName}__}">Name</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
</html>