<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<label>
    <span th:text="${attribute.name}">Field name</span>
</label>
<ul class="list-group" style="margin-bottom:10px;">

    <li th:class="'list-group-item nesting-level-__${nestingLevel}__'"
        th:each="payload,payloadItr : ${sequence?.payloads}">

        <th:block th:if="${payload.value != null}">
            <h4>
                <span th:text="${@itemService.getStructure(payload.value).name}">Name</span>
                <th:block th:if="${attribute.capacity > 1}">
                    <span>#[[${payloadItr.index + 1}]]</span>
                </th:block>
                <div class="btn-group btn-group-sm pull-right">
                    <th:block th:replace="admin/item/editor/_payload-buttons" />
                </div>
            </h4>

            <!--<hr />-->
            <th:block th:with="nestedPath='__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].item'">
                <th:block th:replace="admin/item/editor::fields" />
            </th:block>
        </th:block>

    </li>

    <li class="list-group-item" th:classappend="nesting-level-__${nestingLevel}__" >
        <div class="btn-group dropup">
            <button type="button" th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Append <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li th:each="structureName : ${attribute.acceptedStructureNames}">
                    <a th:href="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name},
                    structure=${structureName})}">
                        <span th:text="#{seed.structure.__${structureName}__}">Name</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
</html>