<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block >
<div class="form-group" >
    <th:block th:each="payload,payloadItr : ${sequence.payloads}" th:with="id=${#ids.seq('foobar')}">
        <div>
            <label th:text="#{seed.structure.__${structure.name}__.__${attribute.name}__}">Attribute name</label>
            <th:block th:if="${attribute.capacity > 1}">
                #<span th:text="${payloadItr.index + 1}">#</span>
                <div class="btn-group btn-group-xs pull-right">
                    <th:block th:replace="admin/item/editor/_payload-buttons" />
                </div>
            </th:block>
        </div>
        <textarea th:id="${id}" class="form-control"
                  th:field="*{__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].text}"></textarea>

        <script type="text/javascript">
        $(document).ready(function() {
            var id = '#[[${id}]]';
            $(id).summernote({
                height:125,
                toolbar:[
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'hr']],
                    ['view', ['fullscreen', 'codeview']]
                ],
                onCreateLink : function(originalLink) {
                    return originalLink; // return original link
                }
            });
        });
        </script>
    </th:block>
    <th:block th:replace="admin/item/editor/_sequence-buttons" />
</div>
</th:block>

</html>