<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<label>
    <span th:text="#{seed.structure.__${structure.name}__.__${attribute.name}__}">Field name</span>
    <i th:if="${attribute.isLabel()}" class="fa fa-tag" th:title="#{seed.attribute.label}"></i>
</label>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <th:block  th:each="payload,payloadItr : ${sequence.payloads}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm"
                             th:remove="${attribute.capacity <= 1} ? tag : _"
                             style="padding-bottom:5px;">
                            <div class="input-group-addon" th:if="${attribute.capacity > 1}">
                                <!--<span th:text="${payloadItr.index + 1}">#</span>-->
                                <span th:text="${payload.ordinal + 1}">#</span>
                            </div>
                            <input type="text" class="form-control input-sm"
                                   th:field="*{__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].value}">
                            <div class="input-group-btn input-group-xs" th:remove="${sequence.length() <= 1} ? all : _">
                                <th:block th:replace="admin/item/editor/_payload-buttons" />
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:replace="admin/item/editor/_sequence-buttons" />
        </div>
    </div>
</div>
</html>