<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<label>
    <span th:text="${attribute.name}">Field name</span>
    <i th:if="${attribute.label}" class="fa fa-tag"></i>
</label>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <th:block  th:each="payload,payloadItr : ${sequence.payloads}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" style="padding-bottom:5px;">
                            <div class="input-group-addon">
                                <!--<span th:text="${payloadItr.index + 1}">#</span>-->
                                <span th:text="${payload.ordinal + 1}">#</span>
                            </div>
                            <input type="text" class="form-control"
                                   th:field="*{__${nestedPath}__.sequences[__${attribute.name}__].payloads[__${payloadItr.index}__].text}">
                            <div class="input-group-btn input-group-xs" th:remove="${attribute.capacity <= 1} ? all : _">
                                <button class="btn btn-default"
                                        th:disabled="${payloadItr.index == 0} ? disabled : _"
                                        th:formaction="@{move-payload-up(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:disabled="${payloadItr.index == sequence.length() - 1} ? disabled : _"
                                        th:formaction="@{move-payload-down(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                                <button class="btn btn-default"
                                        th:formaction="@{remove-payload(
                        nested-path=${nestedPath},
                        attribute=${attribute.name},
                        index=${payloadItr.index})}">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${attribute.capacity > 1}">
                <div class="btn-group">
                    <button class="btn btn-default"
                            th:disabled="${sequence.length() >= attribute.capacity} ? disabled : _"
                            th:formaction="@{append(
                    nested-path=${nestedPath},
                    attribute=${attribute.name})}">
                        <span>Append</span>
                        <span th:text="${attribute.name}">Attribute name</span>
                    </button>
                </div>
            </th:block>
        </div>
    </div>
</div>


</html>