<html xmlns:th="//www.thymeleaf.org"
      th:remove="tag">

<div class="card">
    <div class="card-header">
        <strong th:text="#{__${field.name}__}">Field Name</strong>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="value,status : *{fragment.__${field.name}__}">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <input class="form-control" type="text" th:field="*{fragment.__${field.name}__[__${status.index}__]}">
                    <div class="input-group-btn">
                        <button class="btn btn-secondary">
                            <i class="fa fa-arrow-up"></i>
                        </button>
                        <button class="btn btn-secondary">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                        <button class="btn btn-secondary" th:formaction="@{remvalue(field=${field.name},index=${status.index})}">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <button class="btn btn-secondary"
                    th:formaction="@{addvalue(field=${field.name})}">
                <i class="fa fa-plus"></i>
                <span>Add</span>
            </button>
        </li>
    </ul>
</div>

</html>