<html xmlns:th="//www.thymeleaf.org"
      xmlns:cp="http://www.getwebseed/dialect/cp"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">

<th:block th:fragment="main" th:object="${fragmentEditor}">


    <form id="form" th:object="${fragmentEditor}" method="post"
          th:with="editor=${fragmentEditor},
              fragment=${editor.fragment},
              structure=${@fragmentService.getStructure(fragment)}">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <th:block cp:replace="${editor.form}" />
                    <button type="submit" class="btn btn-primary"
                            th:formaction="@{save}">
                        Save
                    </button>
                </div>
            </div>
        </div>

    </form>

</th:block>
</html>