<html xmlns:th="//www.thymeleaf.org"
      th:replace="/page(content=~{::body})"
      th:remove="tag">

<th:block th:fragment="origin-forms">
    <th:block th:if="${form?.origin != null}">
        <th:block th:replace="::origin-forms(form=${form.origin.form})" />

    </th:block>
    <li>
        <a th:href="@{show(form=${form?.id})}"
           th:text="${form?.title}" >Form Title</a>
    </li>
</th:block>

<div th:fragment="body" class="container">
    <form th:object="${fragmentViewState}" method="post"
          th:with="
          form=*{currentForm},
          fragment=*{currentForm.fragment},
          structure=${@structureService.getStructure(fragment.bundle.structureName)}">

        <script type="text/javascript">
            $(document).ready(function() {
                window.onpageshow = function(event) {
                    if (event.persisted) {
                        window.location.reload()
                    }
                };
            });
        </script>

        <input type="hidden" name="_s" th:value="${_s}">

        <div class="row">
            <div class="col-md-12">

                <p>&nbsp;</p>

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <th:block th:replace="::origin-forms" th:with="form=${form}" />
                    <li class="active">Fragment <span>0</span></li>
                </ol>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <th:block>
                    <th:block>

                        <th:block th:each="field : ${structure?.fields}"
                                  th:with="attribute=${fragment.getAttribute(field.name)}">
                            <th:block th:replace="admin/fragment/attribute" />
                        </th:block>

                    </th:block>
                </th:block>
            </div>
            <div class="col-md-4">

                <table class="table table-sm">
                    <tbody>

                    <tr>
                        <th>Org.</th>
                        <td th:text="${organization?.id}">#</td>
                    </tr>

                    <tr>
                        <th>ID</th>
                        <td th:text="${fragment?.id}">#</td>
                    </tr>

                    <tr>
                        <th>Revision</th>
                        <td th:text="${fragment?.revision}">#</td>
                    </tr>

                    <tr>
                        <th>Structure</th>
                        <td th:text="${structure?.name}">#</td>
                    </tr>

                    <tr>
                        <th>Locale</th>
                        <td th:text="${fragment?.locale?.displayName}">#</td>
                    </tr>

                    <!--<tr>-->
                    <!--<th>Created</th>-->
                    <!--<td th:text="${fragment?.created}">#</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                    <!--<th>Last Modified</th>-->
                    <!--<td th:text="${fragment?.lastModified}">#</td>-->
                    <!--</tr>-->

                    </tbody>
                </table>

                <h2>Translations</h2>
                <table class="table table-sm">
                    <tbody>
                    <tr th:each="locale : ${@fragmentService.allSupportedLocales}">
                        <th th:text="${locale.displayName}">Locale</th>
                        <td>
                            <div class="btn-group btn-group-xs pull-right">
                                <button class="btn btn-default">
                                    Translate
                                </button>
                                <button class="btn btn-default" disabled>
                                    <i class="fa fa-eye"></i>
                                    Show
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn btn-primary"
                            th:formaction="@{save}">
                        <i class="fa fa-hdd-o"></i>
                        Save
                    </button>
                    <button class="btn btn-danger"
                            th:formaction="@{discard}">
                        <i class="fa fa-trash"></i>
                        Discard
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
</html>