<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">

<th:block th:fragment="main">

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" >
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>So you really want to publish your changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"
                            form="form"
                            th:formaction="@{publish}">Publish now</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .level-odd {
            background-color:#e9ecef;
        }
    </style>
    <form id="form" th:object="${itemEditor}" method="post"
          th:with="editor=${itemEditor},
              item=${editor.item},
              structure=${@itemService.getStructure(item)}">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <th:block th:replace="admin/breadcrumbs" />
                </div>
            </div>

            <div class="row">
                <div class="col-12" th:with="nestingLevel=0">

                    <th:block th:fragment="editor">
                        <div th:each="fieldGroup,fieldGroupItr : ${editor.fieldGroups}"
                             th:with="nestingLevel=${nestingLevel+1}">
                            <th:block th:replace="__${fieldGroup.template}__" />
                        </div>
                    </th:block>

                </div>
            </div>

        </div>


    </form>
</th:block>
</html>