<html xmlns:th="//www.thymeleaf.org"
      th:replace="page(body=~{::default})"
      th:remove="tag">

<div th:fragment="default">
    <div class="container">
        <form th:object="${itemEditor}">

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row">

                <!-- Content -->
                <div class="col-md-7" >

                    <h2>
                        <span th:text="#{seed.structure.__${structure?.name}__}">Title</span>
                    </h2>

                    <th:block th:with="nestedPath='',nestingLevel=0">
                        <th:block th:fragment="fields" th:with="nestingLevel=${nestingLevel+1}">
                            <th:block th:each="e : *{__${nestedPath}__fields}"
                                      th:with="field=${e.value}">

                                <th:block th:switch="${field.attribute?.class?.simpleName}">
                                    <th:block th:case="'TextAttribute'">
                                        <th:block th:if="${field.attribute.multiline}">
                                            <th:block th:replace="admin/item/editor/multiline-text-field" />
                                        </th:block>
                                        <th:block th:unless="${field.attribute.multiline}">
                                            <th:block th:replace="admin/item/editor/text-field" />
                                        </th:block>
                                    </th:block>
                                    <th:block th:case="'RelationAttribute'">
                                        <th:block th:replace="admin/item/editor/relation-field" />
                                    </th:block>
                                </th:block>

                            </th:block>
                        </th:block>
                    </th:block>


                    <!-- Editor actions (save, delete, ...) -->
                    <div class="btn-group">
                        <button class="btn btn-primary"
                                th:formaction="@{save}">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>
                        <!--<button class="btn btn-success"-->
                                <!--th:formaction="@{activate}">-->
                            <!--<i class="fa fa-bullhorn"></i>-->
                            <!--Activate-->
                        <!--</button>-->
                        <button class="btn btn-danger"
                                disabled="disabled"
                                th:formaction="@{delete}" >
                            <i class="fa fa-trash"></i>
                            Delete
                        </button>
                        <!--<a class="btn btn-info"-->
                           <!--th:href="@{/item(id=*{item.id})}">-->
                            <!--<i class="fa fa-eye"></i>-->
                            <!--Preview-->
                        <!--</a>-->
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-md-5">

                    <h2>
                        <span>&nbsp;</span>
                    </h2>

                    <table class="table ">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <td>
                                <span th:text="*{item.id}">ID</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Locale</th>
                            <td>
                                <span th:text="*{item.chronicle.locale.displayName}">Locale</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Structure</th>
                            <td>
                                <span th:text="${structure?.name}">Structure</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Chronicle</th>
                            <td>
                                <span th:text="*{item.chronicle}">Structure</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <h3>Translations</h3>
                    <ul class="list-group">
                        <li th:each="locale : ${@itemService.allSupportedLocales}" class="list-group-item">

                            <th:block th:if="${item?.chronicle?.locale?.equals(locale)}">
                                :)
                            </th:block>
                            <th:block th:unless="${item?.chronicle?.locale?.equals(locale)}">
                                <!--<th:block th:with="translation=${@itemService.getTranslation(item, locale)}">-->
                                    <!--<span th:text="${locale.displayName}">Locale Name</span>-->
                                    <!--<div class="btn-group btn-group-xs pull-right">-->
                                        <!--<button class="btn btn-default">-->
                                            <!--<i class="fa fa-plus"></i>-->
                                            <!--Add translation-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</th:block>-->
                            </th:block>

                        </li>
                    </ul>

                    <!--<div class="form-group">-->
                    <!--<label>Title</label>-->
                    <!--<input class="form-control" type="text" th:field="*{editor.item.title}">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label>Path</label>-->
                    <!--<input class="form-control" type="text" th:field="*{editor.item.path}">-->
                    <!--</div>-->
                </div>
            </div>
        </form>
    </div>
</div>
</html>