<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:with="nestedPath='item',nestingLevel=0">
    <th:block th:fragment="fields" th:with="nestingLevel=${nestingLevel+1}">

        <th:block th:with="item=*{__${nestedPath}__},structure=${@itemService.getStructure(item)}">
            <th:block th:each="attribute : ${structure.attributes}">
                <!--<th:block th:with="sequence=${i.getSequence(attribute.name)}">-->
                <th:block th:with="sequence=${@itemService.getOrCreateSequence(item, attribute.name)}">

                    <th:block th:switch="${attribute?.class?.simpleName}">
                        <th:block th:case="'TextAttribute'">
                            <th:block th:if="${attribute.multiline}">
                                <th:block th:replace="admin/item/editor/field/multiline-text-field" />
                            </th:block>
                            <th:block th:unless="${attribute.multiline}">
                                <th:block th:replace="admin/item/editor/field/text-field" />
                            </th:block>
                        </th:block>
                        <th:block th:case="'ItemAttribute'">
                            <th:block th:replace="admin/item/editor/field/item-field" />
                        </th:block>
                        <th:block th:case="'ImageAttribute'">
                            <th:block th:replace="admin/item/editor/field/image-field" />
                        </th:block>
                        <th:block th:case="'BooleanAttribute'">
                            <th:block th:replace="admin/item/editor/field/boolean-field" />
                        </th:block>
                        <th:block th:case="'LinkAttribute'">
                            <th:block th:replace="admin/item/editor/field/link-field" />
                        </th:block>
                        <th:block th:case="'IconAttribute'">
                            <th:block th:replace="admin/item/editor/field/icon-field" />
                        </th:block>
                    </th:block>
                </th:block>

            </th:block>
        </th:block>

    </th:block>
</th:block>
</html>