<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">

<th:block th:fragment="main">
    <style>
        .level-odd {
            background-color:#e9ecef;
        }
    </style>
    <form th:object="${itemEditor}" method="post"
          th:with="editor=${itemEditor},
              item=${editor.item},
              structure=${@itemService.getStructure(item)}">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <th:block th:replace="admin/breadcrumbs" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-secondary" disabled="disabled">
                                <i class="fa fa-undo"></i>
                                Undo
                            </button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-sm">
                                <i class="fa fa-retweet"></i>
                                Publish
                            </button>
                        </div>

                        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Modal body text goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" th:with="nestingLevel=0">

                    <th:block th:fragment="editor">
                        <div th:each="fieldGroup,fieldGroupItr : ${editor.fieldGroups}"
                             th:with="nestingLevel=${nestingLevel+1}">
                            <th:block th:replace="__${fieldGroup.template}__" />
                        </div>
                    </th:block>

                </div>
            </div>

        </div>


    </form>
</th:block>
</html>