<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">
<th:block th:fragment="main">
    <div class="container">
        <form th:object="${itemEditor}" method="post"
              th:with="editor=${itemEditor},
              item=*{item},
              structure=${@itemService.getStructure(item)}">

            <th:block th:replace="admin/breadcrumbs" />

            <th:block th:if="${item.id != null}">
                <h1 th:with="structure=${@itemService.getStructure(item)}">
                    <span th:text="#{seed.structure.__${structure.name}__}">Title</span>
                    <span th:text="${item.id}">ID</span>
                </h1>
            </th:block>
            <th:block th:if="${item.id == null}">
                <h1 th:with="structure=${@itemService.getStructure(item)}">
                    New <span th:text="#{seed.structure.__${structure.name}__}">Title</span>
                </h1>
            </th:block>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row">

                <!-- Content -->
                <div class="col-md-7" >

                    <th:block th:replace="admin/item/editor" />

                </div>

                <!-- Sidebar -->
                <div class="col-md-5">

                    <label>Properties</label>

                    <table class="table  table-striped">
                        <tr>
                            <th nowrap="nowrap" width="35%">Leaf ID</th>
                            <td>
                                <span th:text="*{item.leaf.id}">Leaf ID</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Revision ID</th>
                            <td>
                                <span th:text="*{item.id}">Revision ID</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Created by</th>
                            <td>
                                <span th:text="*{item.createdBy?.username}">#</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Created at</th>
                            <td>
                                <span th:text="*{item.createdAt}">#</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Last modified by</th>
                            <td>
                                <span th:text="*{item.lastModifiedBy?.username}">#</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Last modified at</th>
                            <td>
                                <span th:text="*{item.lastModifiedAt}">#</span>
                            </td>
                        </tr>
                        <tr>
                            <th nowrap="nowrap">Locale</th>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs dropdown-toggle"
                                       data-toggle="dropdown"
                                       href="#"><span th:text="${item?.locale?.displayName}">Locale</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li th:each="locale : ${@itemService.allSupportedLocales}">
                                            <a href="#" th:text="${locale.displayName}"
                                               th:data-formaction="@{change-locale(locale=${locale})}">Item I</a>
                                        </li>

                                    </ul>
                                </div>

                            </td>
                        </tr>
                    </table>


                    <div class="form-group">
                        <label>Path</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" th:field="*{item.path}">
                            <span class="input-group-btn btn-group-sm">
                                <button class="btn btn-default" th:formaction="@{generate-path}">
                                    <i class="fa fa-anchor"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <!--Hierarchies-->
                    <th:block th:if="${item?.id != null}">
                        <th:block th:replace="admin/item/editor/_nodes" />
                    </th:block>

                    <!--Actions-->
                    <div class="btn-group">
                        <button class="btn btn-primary"
                                th:formaction="@{save}">
                            <i class="fa fa-floppy-o"></i>
                            Save
                        </button>

                        <button class="btn btn-default"
                                th:formaction="@{close}" >
                            <i class="fa fa-times"></i>
                            Close
                        </button>

                        <button class="btn btn-success" target="_blank"
                                th:formaction="@{/item(id=${item.id})}"
                                formtarget="_blank"
                           th:disabled="${item.id == null} ? disabled : _">
                            <i class="fa fa-eye"></i>
                            Preview
                        </button>

                        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target=".bs-example-modal-sm">
                            <i class="fa fa-retweet"></i>
                            Publish
                        </button>
                    </div>

                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Do you really want to publish?
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <button class="btn btn-primary" target="_self"
                                            th:formaction="@{publish}"
                                            th:disabled="${item.id == null} ? disabled : _">

                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</th:block>
</html>