<html xmlns:th="//www.thymeleaf.org" th:remove="tag">
<th:block th:replace="admin/breadcrumbs" />

<th:block th:if="${item.id != null}">
    <h1 th:with="structure=${@itemService.getStructure(item)}">
        <span th:text="#{seed.structure.__${structure.name}__}">Title</span>
        <span th:text="${item.id}">ID</span>
    </h1>
</th:block>
<th:block th:if="${item.id == null}">
    <h1 th:with="structure=${@itemService.getStructure(item)}">
        New <span th:text="#{seed.structure.__${structure.name}__}">Title</span>
    </h1>
</th:block>
</html>