<html xmlns:th="//www.thymeleaf.org"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">

<div th:fragment="main">
    <div class="container">
        <form th:object="${itemListing}" method="post">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active"><a th:href="@{/admin/items}">Items</a></li>
            </ol>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.detailedErrors('*')}" >
                    <span th:text="${err}">Error</span>
                </li>
            </ul>

            <div class="row">

                <!-- Items -->
                <div class="col-md-12" >

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="1%">ID</th>
                            <th width="5%">Structure</th>
                            <th width="5%">Locale</th>
                            <th>Status</th>
                            <th>
                                <div class="btn-group btn-group-xs pull-right">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus"></i>
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li th:each="structure : ${@structureService.findStandaloneStructures()}">
                                            <a th:href="@{/admin/item/create(structure=${structure.name})}">
                                                <span th:text="${structure.name}">Structure Name</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : *{items}">
                            <td>
                                <span th:text="${item.id}">ID</span>
                            </td>
                            <td>
                                <span th:text="${item.structureName}">Structure</span>
                            </td>
                            <td>
                                <span th:text="${item.chronicle.locale.displayName}">Locale</span>
                            </td>
                            <td>
                                <span>Active</span>
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs pull-right">
                                    <button class="btn btn-default"
                                            th:formaction="@{/admin/item/edit(
                                            item=${item.id})}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>
</html>