<html xmlns:th="http://www.thymeleaf.org"
      xmlns:cp="http://www.getwebseed/dialect/cp"
      th:replace="admin/page(main=~{::main})"
      th:remove="tag">

<th:block th:fragment="main">
<style>
.grid .actions-column {
    text-align: right !important;
}
</style>
    <form id="form" th:object="${itemListing}" method="post"
          th:with="listing=${itemListing}">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <th:block th:replace="admin/breadcrumbs" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <th:block cp:replace="${listing.grid}"  />
                </div>
            </div>

        </div>
    </form>
</th:block>
</html>