<html xmlns:th="//www.thymeleaf.org" th:remove="tag">

<th:block th:unless="${attribute.multiline}">
<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" th:field="*{editor.item.properties[__${propertyItr.index}__].payloads[__${payloadItr.index}__].value}">
        <div class="input-group-btn">
            <th:block th:replace="admin/item/value-buttons" />
        </div>
    </div>
</div>
</th:block>

<th:block th:if="${attribute.multiline}">

    <div class="form-group">
        <div class="">
            <textarea type="text" class="form-control summernote" th:rows="${attribute.rows}"
                      th:field="*{editor.item.properties[__${propertyItr.index}__].payloads[__${payloadItr.index}__].value}"></textarea>
            <script type="text/javascript">
                $(document).ready(function() {
                    var name = '[[editor.item.properties[__${propertyItr.index}__].payloads[__${payloadItr.index}__].value]]';
                    var textarea = $('textarea[name=\'' + name + '\']');
                    //textarea.minHeight(400);
                    textarea.summernote({height: 900});
                    textarea.css('min-height', '900px');
                    textarea.css('height', '900px');
                });
            </script>
        </div>
    </div>

    <div class="btn-group">
        <th:block th:replace="admin/item/value-buttons" />
    </div>

</th:block>

</html>